<h1>Our awesome sauce webpage! 
<ul>
        <li><%= link_to "Cubed", "/cubed/2" %></li>
        <li><%= link_to "Evenly", "/evenly/2/4" %></li>
        <li><%= link_to "Length", "/length/trey" %></li>
        <li><%= link_to "Palindrome", "/palindrome/treyert" %></li>
        <li><%= link_to "Adjective", "/madlibs/bunny/hippity-hoppity/funny/went" %></li>
</ul>
</h1>