<h1> Our Favorites </h1>
<h2> Arturo </h2>
<ul>
    <li><%= link_to 'Sopranos', '/sopranos' %></li>
    <li><%= link_to 'Swimming', '/swimming' %></li>
    <li><%= link_to 'Warzone', '/warzone' %></li>
</ul>

<h2> Raul </h2>
<ul>
    <li><%= link_to 'Hiking', '/hiking' %></li>
    <li><%= link_to 'Computer games', '/computer_games' %></li>
    <li><%= link_to 'Driving', '/driving' %></li>
</ul>