<h1>Our Favorites</h1>
<p>Conrad's Favorite Restraunts</p>

<ul>
    <li> <%= link_to "The Olive Garden", "/the_olive_garden" %> </li>
    <li> <%= link_to "Buffalo Wild Wings", "/buffalo_wild_wings" %> </li>
    <li> <%= link_to "Cheesecake Factory", "/cheesecake_factory" %> </li>
</ul>

<p>Chris's Favorite Restraunts</p>

<ul>
    <li> <%= link_to "In-n-out", "/in_n_out" %> </li>
    <li> <%= link_to "Pizza Port", "/pizza_port" %> </li>
    <li> <%= link_to "Sushi House", "/sushi_house" %> </li>
</ul>